version: '3'

services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-networks

  backend:
    build:
      context: backend
      dockerfile: Dockerfile.backend
    ports:
      - "5000:5000"
    networks:
      - app-networks


networks:
  app-networks:

