.cl-rootBox {
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   font-family: inherit;
   width: auto;
   margin-top: 12%;

   .cl-internal-b3fm6y {
      display: none !important;
   }
}

.cl-internal-17ydaof {
   background-color: #e2e2e2;
}
