.yt-container {
   padding: 20px 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 24px;

   .yt-recommendation-item {
      display: flex;
      flex-direction: column;
      min-height: 245px;
      gap: 10px;
   }

   iframe {
      width: 100%;
      height: 100%;
   }
}

.review-dialog {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.review-dialog-content {
   width: 80%;
   max-width: 500px;
   padding: 20px;
   border-radius: 5px;
   text-align: center;
   position: relative; // added for the close button positioning
   background-color: #4d4855;
   background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

   .close-button {
      color: #fff;
      width: 30px;
      height: 20px;
      display: inline-block;
   }

   .review-submit {
      width: 100%;
      padding: 12px !important;
   }

   h2 {
      color: #fff !important;
   }
}

.star {
   cursor: pointer;
   font-size: 24px;
   margin-right: 5px;
   color: gray;
}

.filled {
   color: gold;
}

.close-button {
   background: none;
   border: none;
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
   cursor: pointer;
}

.no-scroll {
   overflow: hidden;
}

// *********************** Recommendations ********************** //
.select-new-pref {
   width: 100%;
   display: inline-block;
   font-size: 15px;
   padding: 12px 20px;
   text-align: center;
   justify-content: center;
   margin-top: 30px !important;
}

.check-container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-row-gap: 24px;
   margin-top: 32px;

   div {
      label {
         display: flex;
         align-items: center;
         gap: 12px;

         input {
            width: 30px;
            height: 30px;
         }
      }
   }
}

@media screen and (min-width: 1300px) {
   .select-new-pref {
      max-width: 350px;
      display: flex;
      margin: auto;
   }
}

@media screen and (max-width: 1200px) {
   .check-container {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 980px) {
   .yt-container {
      grid-template-columns: repeat(2, 1fr);
   }

   .check-container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 600px) {
   .yt-container {
      grid-template-columns: 1fr;
   }
}

@media screen and (max-width: 490px) {
   .check-container {
      grid-template-columns: repeat(1, 1fr);
   }

   .select-new-pref {
      width: 100%;
      display: flex;
      font-size: 15px;
      padding: 12px 20px;
      text-align: center;
      justify-content: center;
      margin-top: 50px !important;
   }

   .rem-margin-mob {
      margin-left: 0 !important;
   }
}
