.yt-container {
   padding: 20px 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 24px;

   iframe {
      width: 100%;
      height: 100%;
   }
}

@media screen and (max-width: 980px) {
   .yt-container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 600px) {
   .yt-container {
      grid-template-columns: 1fr;
   }
}
